@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 25, 25, 25;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.notes {
  background-attachment: local;
  background-image: linear-gradient(to right, #fff9f1 10px, transparent 10px),
    linear-gradient(to left, #fff9f1 10px, transparent 10px),
    repeating-linear-gradient(
      #fff9f1,
      #fff9f1 60px,
      #ccc 60px,
      #ccc 61px,
      #fff9f1 61px
    );
}
