@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 25, 25, 25;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: (0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #737373;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

.notes {
  background-attachment: local;
  background-image: linear-gradient(to right, #fff9f1 10px, transparent 10px),
    linear-gradient(to left, #fff9f1 10px, transparent 10px),
    repeating-linear-gradient(
      #fff9f1,
      #fff9f1 60px,
      #ccc 60px,
      #ccc 61px,
      #fff9f1 61px
    );
}

.loading-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f8ff;
  border-radius: 12px;
  background: linear-gradient(145deg, #e3e3e3, #bfbfbf);
  box-shadow: 6px 6px 12px #aeaeae, -6px -6px 12px #f2f2f2;
}
